.App {
  background-color: #272727;
}

input.input::placeholder {
  color: #eff1f3;
}

#root > div > div.App > div.container > div > ul > li > a {
  color: #eff1f3;
  background-color: #696773;
  border-radius: 2px;
  border: none;
  font-size: 1.2em;
}

#root > div > div.App > div.container > div > ul > li.page-item.active > span {
  background-color: #fed766;
  color: #272727;
  border-radius: 2px;
  border: none;
  font-size: 1.2em;
}

#root
  > div
  > div.App
  > div.content
  > div.container-fluid
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > button {
  background-color: #fed766;
  border: none;
}

#root
  > div
  > div.App
  > div.content
  > div.container
  > div
  > div
  > form
  > div
  > div
  > button {
  border: #fed766 solid 1px;
  color: #272727;
  background-color: #fed766;
}
